TABLE.menu {
	BORDER-RIGHT: black 1px solid; 
	BORDER-TOP: black 1px solid; 
	BORDER-BOTTOM: black 1px solid; 
	BORDER-LEFT: black 1px solid; 
	VISIBILITY: hidden; 
	CURSOR: pointer; 
	POSITION: absolute
}
#mainmenu {
	POSITION: static
}
TABLE.menu TD {
	COLOR: #000000; 				/* Debe ser el mismo que tdBgColor definido en menuNav.js */
	BACKGROUND-COLOR: #bbddff;	/* Debe ser el mismo que tdBgColor definido en menuNav.js */
	BORDER-RIGHT: 0px; 
	BORDER-TOP: 0px; 
	BORDER-LEFT: 0px; 
	BORDER-BOTTOM: 0px; 
	PADDING-RIGHT: 8px; 
	PADDING-LEFT: 8px; 
	PADDING-BOTTOM: 2px; 
	PADDING-TOP: 0px; 
	FONT-SIZE: 8pt; 
	FONT-FAMILY: Arial; 
	WHITE-SPACE: nowrap; 
}
